<div class="row ml-0 mr-0" id="service-component">
  <div class="col-lg-6 col-md-12 mt-4 pl-0 pr-0">
    <div class="mb-2 tbl-header">SERVICES BREAKDOWN</div>
    <table class="table">
      <thead>
      </thead>
      <tbody>
      <tr *ngFor="let service of data, index as i, " [ngClass]="{'bg-gray' : i%2==0}">
        <td class="text-left">
          <div class="box" *ngIf="!service['is_sum']" [ngStyle]="{'background-color': service['color']}"></div>
          <span [ngClass]="{'text-bold' : service['is_sum']}">{{ service["name"] | uppercase }}</span>
        </td>
        <td class="text-right" [ngClass]="{'text-bold' : service['is_sum']}">{{ service["currency"] }}{{ service["price"] | number }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-doughnut-chart class="col-lg-6 col-md-12" [doughnutChartLabels]="labels" [doughnutChartData]="prices"
                      [doughnutChartColor]="colors"></app-doughnut-chart>
</div>
