<div class="row ml-0 mr-0 pt-5">
  <div class="mb-3 row ml-0 mr-0 w-100">
    <div class="col-6">
      <a class="" style="cursor: pointer; font-size: 1.25rem" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
         aria-controls="costCollapse" (click)="rotate = !rotate" ><i class="fas" [ngClass]="rotate ? 'fa fa-caret-down': 'fa fa-caret-right'"></i>&nbsp; &nbsp; Cost</a>
    </div>
    <div class="col-6 text-right">
      <a class="" style="cursor: pointer; font-size: 1.25rem" (click)="logout()">Logout</a>
    </div>
  </div>
  <div class="w-100" style="border-bottom: solid 1px #4c4c4c21"></div>
</div>
<div class="collapse multi-collapse">
  <app-cost-component></app-cost-component>
  <div class="mt-2">
    <app-service-breakdown-component></app-service-breakdown-component>
  </div>
  <div class="mt-2">
    <app-reservation-component></app-reservation-component>
  </div>
</div>
