/* You can add global styles to this file, and also import other style files */
.tbl-header {
  color: #00b3b3;
  font-size: 1.25rem;
}
.bg-gray {
  background-color: #e0e0e0;
}
body th {
  padding: .5rem !important;
  font-size: 0.75rem;
}

